:root {
  --heading-font: "Prata", serif;
  --content-font: "DM Sans", sans-serif;
  --link-color: #482a1f;
  --primary-color: #705549;
  --highlight-color: #b85621;
  --secondary-color: #adb3b6;
  --neutral-color: #ececf0;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--link-color);
  font-family: var(--content-font);
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  margin-right: 90px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--highlight-color);
}

.hero-section {
  background-color: var(--neutral-color);
  padding-bottom: 60px;
}

.hero-section h1 {
  color: var(--primary-color);
  font-family: var(--heading-font);
  font-size: 40px;
  padding-bottom: 8px;
  margin-bottom: 0;
}

.hero-section p {
  color: var(--primary-color);
  font-family: var(--content-font);
  font-weight: 400;
  font-size: 30px;
  padding-bottom: 36px;
}

.highlight {
  color: var(--highlight-color);
}

.hero-buttons a {
  margin-right: 24px;
}

.hero-buttons a:last-child {
  margin-right: 0;
}

.primary-button {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--link-color);
  border: 1px solid var(--link-color);
  opacity: 0.8;
  padding: 10px 52px;
  text-decoration: none;
  border-radius: 40px;
}

.primary-button:hover {
  color: var(--link-color);
  background-color: var(--neutral-color);
  border: 1px solid var(--link-color);
  cursor: pointer;
}

.ghost-button {
  color: var(--link-color);
  font-size: 18px;
  font-weight: 500;
  background-color: var(--neutral-color);
  border: 1px solid var(--link-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 40px;
}

.ghost-button:hover {
  color: #ffffff;
  background-color: var(--link-color);
  border: 1px solid var(--link-color);
  opacity: 0.8;
  cursor: pointer;
}

.about-section {
  background-color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-section h2 {
  color: var(--primary-color);
  font-family: var(--heading-font);
  font-size: 48px;
  line-height: 1.5em;
  margin-bottom: 0;
  padding-bottom: 8px;
}

.about-section p {
  color: var(--secondary-color);
  font-family: var(--content-font);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
  padding-bottom: 36px;
}

.about-section a {
  background-color: transparent;
  padding: 10px 40px;
}

.work-section {
  text-align: center;
  color: #ffffff;
  background-color: var(--link-color);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

.work-section h2 {
  font-family: var(--heading-font);
  font-size: 48px;
  line-height: 1.5em;
  margin-bottom: 0;
  padding-bottom: 8px;
}

.work-section p {
  font-family: var(--content-font);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
  padding-bottom: 24px;
}

.work-image {
  margin-top: 30px;
  max-width: 80%;
}

.secondary-button {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 40px;
}

.secondary-button:hover {
  color: #ffffff;
  background-color: var(--primary-color);
}
