:root {
  --heading-font: "Prata", serif;
  --content-font: "DM Sans", sans-serif;
  --link-color: #482a1f;
  --primary-color: #705549;
  --highlight-color: #b85621;
  --secondary-color: #adb3b6;
  --neutral-color: #ececf0;
  --notes-color: #bfb1a9;
}

/* Default Selectors */

h1,
h2 {
  font-family: var(--heading-font);
}

h3,
p {
  font-family: var(--content-font);
}

/* Navbar styling */

.navbar-light .navbar-nav .nav-link {
  color: var(--link-color);
  font-family: var(--content-font);
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  margin-right: 90px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.highlight {
  color: var(--highlight-color);
}

/* Page header styling */

.navbar-section,
.hero-section,
.page-header {
  background-color: var(--neutral-color);
}

.hero-section,
.page-header {
  padding-bottom: 60px;
}

.page-header {
  padding-top: 30px;
  text-align: center;
  color: var(--primary-color);
}

.page-title {
  font-size: 48px;
}

.page-subtitle {
  font-size: 20px;
  font-weight: 400;
}

/* Hero section styling */

.hero-section h1 {
  color: var(--primary-color);
  font-size: 40px;
  padding-bottom: 8px;
  margin-bottom: 0;
}

.hero-section p {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 30px;
  padding-bottom: 36px;
}

.hero-buttons a,
.project-buttons a {
  margin-right: 24px;
}

.hero-buttons a:last-child,
.project-buttons a:last-child {
  margin-right: 0;
}

/* Buttons styling */

.primary-button {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--link-color);
  border: 1px solid var(--link-color);
  opacity: 0.8;
  padding: 12px 48px;
  text-decoration: none;
  border-radius: 40px;
}

.primary-button:hover {
  color: var(--link-color);
  background-color: transparent;
  border: 1px solid var(--link-color);
  cursor: pointer;
}

.ghost-button {
  color: var(--link-color);
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid var(--link-color);
  padding: 12px 36px;
  text-decoration: none;
  border-radius: 40px;
}

.ghost-button:hover {
  color: #ffffff;
  background-color: var(--link-color);
  border: 1px solid var(--link-color);
  opacity: 0.8;
  cursor: pointer;
}

.secondary-button {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 12px 40px;
  text-decoration: none;
  border-radius: 40px;
}

.secondary-button:hover {
  color: #ffffff;
  background-color: var(--primary-color);
}

/* Homepage sections styling */

.homepage-titles {
  font-size: 48px;
  line-height: 1.5em;
  margin-bottom: 0;
  padding-bottom: 8px;
}

.homepage-paragraphs,
.content-page-paragraph {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
  padding-bottom: 24px;
}

.about-section {
  background-color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-section .homepage-titles {
  color: var(--primary-color);
}

.about-section p {
  color: var(--secondary-color);
}

.about-section a {
  padding: 10px 40px;
}

.work-section {
  text-align: center;
  color: #ffffff;
  background-color: var(--link-color);
  opacity: 0.8;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding-top: 60px;
  padding-bottom: 30px;
}

.work-image {
  margin-top: 30px;
  max-width: 80%;
}

.work-info-paragraph {
  color: var(--primary-color);
}

.contact-section {
  background-color: var(--neutral-color);
  color: var(--primary-color);
}

.contact-section,
.content-pages {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-info-title {
  color: var(--primary-color);
  font-size: 36px;
}

.work-page-title {
  font-size: 28px;
}

/* Banner section styling */

.banner {
  font-size: 24px;
  font-weight: 400;
  padding: 30px 0;
}

.banner p {
  font-size: 24px;
  padding-bottom: 24px;
}

.work-banner {
  color: var(--primary-color);
  background-color: #ded1cd;
}

.contact-banner {
  color: #ffffff;
  background-color: var(--notes-color);
}

.coffee-banner {
  background-color: var(--link-color);
  color: #ffffff;
  opacity: 0.8;
}

/* Footer styling */

.footer-section {
  font-family: var(--content-font);
  color: var(--secondary-color);
  margin-top: 90px;
}

.footer-brand-info {
  margin-top: 30px;
}

.footer-brand-info p {
  font-size: 12px;
  line-height: 1.2em;
  margin-left: 56px;
}

.footer-heading {
  font-family: var(--heading-font);
  color: var(--primary-color);
  display: inline;
  font-size: 14px;
  line-height: 1.2em;
}

.footer-notes {
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 1.2em;
  padding: 12px 0;
}

.footer-notes p {
  margin: 0;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.footer-links a,
.footer-notes a {
  text-decoration: none;
  color: var(--notes-color);
  font-weight: 500;
  cursor: pointer;
}

.footer-links a:hover,
.footer-notes a:hover {
  color: var(--highlight-color);
}

.footer-social-links {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* Media queries */

@media screen and (max-width: 576px) {
  .hero-section {
    padding-bottom: 30px;
  }
  .hero-buttons,
  .project-buttons {
    display: flex;
    flex-direction: column;
  }

  .primary-button {
    margin-bottom: 16px;
  }

  .hero-buttons a,
  .project-buttons a {
    margin-right: 0;
  }

  .contact-page-button {
    padding: 12px 40px;
  }

  .primary-button,
  .ghost-button,
  .secondary-button {
    display: block;
  }

  .contact-section a,
  .work-section a {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }

  .navbar-light .navbar-nav .nav-link {
    margin: 0;
  }

  .hero-section h1,
  .homepage-titles,
  .page-title,
  .contact-info-title {
    font-size: 28px;
    margin-bottom: 8px;
  }

  .hero-section p,
  .homepage-paragraphs,
  .page-subtitle,
  .content-page-paragraph {
    font-size: 16px;
    padding: 0 12px;
  }

  .page-header {
    padding-bottom: 30px;
  }

  .content-pages {
    padding: 30px 0;
  }

  .about-section img {
    margin-top: 24px;
  }

  .work-section {
    padding-top: 30px;
  }

  .contact-section {
    padding: 30px 0;
  }

  .contact-image {
    padding-top: 24px;
  }

  .banner p {
    font-size: 20px;
    padding: 0 16px;
  }

  .footer-section {
    margin-top: 30px;
    text-align: center;
  }

  .footer-brand-info p {
    margin: 0 40px;
  }

  .footer-links {
    padding: 0;
    display: block;
    margin-top: 24px;
  }

  .footer-links li {
    padding-bottom: 8px;
  }

  .footer-social-links {
    margin: 24px 0;
  }

  .footer-notes {
    flex-direction: column;
  }

  .footer-notes p {
    margin-bottom: 24px;
  }
}
